@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: rgb(233, 231, 218);
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    background-color: transparent;
}

body{
    width: 100%;
    height: 100%;
}

.navbar{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    flex-direction: row;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color: rgb(57, 62, 68);
    font-weight: 400;
    font-size: 20px;
}

.navbar a:hover{
    text-shadow: 5px 5px 5px;
    color: rgb(31, 31, 31);
    transition: 0.5s;
}

.cLeft{
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
    width: 50%;
    height:fit-content;
    background-color: rgb(57, 62, 68);
}

.cLeft p{
    background-color: rgb(57, 62, 68);
    color: rgb(233, 231, 218);
    width: 40%;
}

.cRight{
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    right: 0%;
    width: 50%;
}

.rBack{
    background-color: rgb(211, 207, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rBack h1{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(211, 207, 185);
    color: rgb(233, 231, 218);
    font-size: 82px;
    letter-spacing: 2px;
    line-height: 60px;
    margin-left: 150px;
}

.rFront{
    background-color: transparent;
    color: rgb(57, 62, 68);
    position: absolute;
    right: 20%;
}
.rFront p{
    background-color: transparent;
    font-size: 48px;
    font-weight: 400;
}

.contFoto{
    position: absolute;
    width: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.foto{
    position: absolute;
    height: calc( 100vh - 2rem - 24px);
    z-index: 1;
    background-color: transparent;
}

.footer{
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: calc(100% - 2rem);
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
    background-color: transparent;
}

.footer h2{
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: rgb(57, 62, 68);
    font-weight: 600;
}

.footer p{
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgb(57, 62, 68);
    font-weight: 500;
}

.mid{
    background-color: transparent;
}
.mid p, .mid h2{
    color: rgb(233, 231, 218);
}

.carteles div{
    display: flex;
    justify-items: left;
    align-items: left;
    text-align: left;
    height: 1.5em;
}

.top{
    position: absolute;
    left: 30%;
    top: 25%;
    background-color: rgb(211, 207, 185);
    padding: 2.5rem 1rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.bot{
    position: absolute;
    left: 60%;
    bottom: 17%;
    background-color: rgb(57, 62, 68);
    padding: 2.5rem 1rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.bot h1{
    margin: 1rem;
    color: rgb(233, 231, 218);
    font-weight: 400;
    background-color:transparent;
}

.top h1{
    margin: 1rem;
    color: rgb(57, 62, 68);
    font-weight: 400;
    background-color:transparent;
}

.fder{
    color: rgb(233, 231, 218);
    font-weight: 400;
    font-size: 2rem;
    background-color:transparent;
    animation: desrotar 1s ease;
}

.fder:hover{
    animation: rotar 1s ease;
    animation-fill-mode: forwards;
}

@keyframes rotar{
    0%{transform: rotate(0deg);}

    100% {transform: rotate(180deg);
    }}

@keyframes desrotar {
    0%{transform: rotate(180deg);}

    100% {transform: rotate(360deg);
    }
}

.fizq{
    margin-left: 0.5rem;
    position: relative;
    color: rgb(57, 62, 68);
    z-index: 2;
    font-size: 2rem;
    animation: abajo 1s ease;
}

.fizq:hover{
    animation: derecha 1s ease;
    animation-fill-mode: forwards;
}

@keyframes derecha{
    0%{transform: rotate(0deg);}

    100% {transform: rotate(-90deg);
    }}

@keyframes abajo {
    0%{transform: rotate(-90deg);}

    100% {transform: rotate(0deg);
    }
}